<header>
  <h1>Linter-Playground</h1>

  <div class="parser_wrapper">
    <PowerSelect @selected={{language}} @options={{languages}} @onChange={{action (mut language)}} as |lang|>
      {{lang}}
    </PowerSelect>
    <span class="label-text">Rule Type:</span>
    <PowerSelect @selected={{ruleType}} @options={{ruleTypes}} @onChange={{action (mut ruleType)}} as |ruleType|>
      {{ruleType}}
    </PowerSelect>
  </div>
  <p>Recommended: <Input @type="checkbox" @click={{action "toggleRecommended"}}/></p>
  <div id="options">
    <DarkModeToggle/>
  </div>
  <span class="label-text">{{parser}}: <strong>{{parserVersion}}</strong></span>
</header>
<main>
  <RuleMaker 
  @language={{language}} 
  @code={{code}}
  @ruleType={{ruleType}}
  @recommended={{recommended}}>
  </RuleMaker>
</main>
<footer>
  <p>
    Built with <a href="https://emberjs.com">Ember {{emberVersion}}</a> |
    <a href="https://github.com/rajasegar/linter-playground">Github</a> |
    <a href="https://github.com/rajasegar/linter-playground/issues">Report issues</a> 
  </p>
</footer>